<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633796968326-4grnsttf3fkd2688p9l3efo90mhqiq25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633796968326-4grnsttf3fkd2688p9l3efo90mhqiq25</string>
	<key>API_KEY</key>
	<string>AIzaSyBsx3klX65D--bOlnRN7dpw82sNewQtGtk</string>
	<key>GCM_SENDER_ID</key>
	<string>633796968326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chat.soldier.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-319</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633796968326:ios:0d857d684b9a4ac9cc7607</string>
</dict>
</plist>